<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/17d45040ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="main-header">
    <div class="main-header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" class ="logo" alt="Logo MercadoLiebre">
        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito</h2>

    <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
    </a>
    </div>
    <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            
            <ul call="right-navbar">
                <li><a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li> <!--Pego los iconos de font-awesome -->
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
    </nav>
</header>
</body>
</html>