<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento HTML</title> <!-- Es lo que se ve en la pestana -->
</head>
<body>
    <h4>Soy un h4</h4>

    <h1>El titulo de nuestro documento</h1>

    <h2>Soy un subtitulo cualquiera</h2>

    <img src="/images/leia.jpg" alt="Leia"> <!-- Como estoy usando la variable publicPath, alcanza con que le indique la ruta desde la carpeta public (ya que esta es estatica)-->

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi unde minus perferendis explicabo? Fugiat nemo itaque neque repellendus earum in sed reprehenderit necessitatibus magni, fugit quis odio repudiandae sit modi.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non molestias nemo, voluptates, ipsa culpa, cumque et dicta deserunt ratione obcaecati earum accusantium veritatis molestiae maiores quaerat quasi in magni repellat.</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href="https://www.google.com">Ir a Google</a>
    
</body>
</html>