body{
    /* background-color: salmon; */
    /* font-family: sans-serif; */
    font-family: 'Lato', sans-serif; /* Copio el codigo CSS que me da GFonts */
}

h1{
    font-size: 50px;
    font-weight: 300; /* Traigo el valor escogiendolo desde GFonts (al lado del nombre de la fuente */
}

h2{
    font-size: 20px ;
}

p{
    font-size: 17px ;
    line-height: 24px ;
}

p strong { /*Creo un selector descendente, para que solo el strong que esta dentro del parrafo tenga una caracteristica diferente. OBS. se lee de atras para adelante (es decir, el strong debe estar dentro de una etiqueta p) */
    background-color: orange;
    color:white;
    font-style: italic;
} 


strong{
    color:green;
}

.parrafo-destacado {
    color: salmon;
    font-size: 30px;
    line-height: 38px;
}

.parrafo-destacado em { /*Creo otro selector descendente, en este caso para que se aplique sobre las etiquetas em en cualquier clase de parrafor destacado*/
    color: red;
    text-transform: uppercase;
}