<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Modulo 04.01 - Ejercicio 11</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sunt harum a sit! Sint fugiat harum, voluptates minima corrupti laudantium ut exercitationem iusto ea iste quas, quam repudiandae facilis vel!</p>

    <ul>
    <li><a href="babbage">/babbage</li></a>
    <li><a href="berners-lee">/berners-lee</li></a>
    <li><a href="hamilton">/hamilton</li></a>
    <li><a href="hopper">/hopper</li></a>
    <li><a href="lovelace">/lovelace</li></a>
    <li><a href="turing">/turing</li></a>
    </ul>

</body>
</html>