*{ /* Asterisco es un selector universal de CSS, sus propiedades se aplican a todo el documento */
box-sizing: border-box; /* Ya que es una regla que deberia aplicarse a todo el documento */
}

/* En CSS es posible agrupar propiedades utilizando coma. Por ejemplo:
.contenedor01,
.contenedor02{

} */


body{
    /* background-color: salmon; */
    /* font-family: sans-serif; */
    font-family: 'Lato', sans-serif; /* Copio el codigo CSS que me da GFonts */
}

.oculto {
    display: none; /* para que por default no se muestre el parrafo oculto, se mostrara al cambiar el display */
}

.contenedor01{
    width: 70%; /* Para responsive design, conviene siempre trabajar con porcentajes y viewport y no con px. el contenedor debera ocupar el 80% del contenedor que lo contiene */
    max-width: 1200px; /* Para que el contenedor tenga un maximo de ancho, independientemente del display*/
    padding:20px; /* al agregarle relleno, el elemento crece en 20 px de cada lado . para que nunca supere y se tome todo uso box-sizing = "border-box"* */
    border: solid 5px black; padding:20px; /* al agregarle borde, el elemento crece en 10 px de cada lado. para que nunca supere y se tome todo uso box-sizing = "border-box"*/
    /* height: 400px; conviente no implementar la altura para que el contenido se adapte al fondo */
    background-color: salmon;
    margin:auto; /* para que el contenido quede centrado*/
}

/* .contenedor02{
    width: 90vw;  ====> pasa a tomar como referencia el tamano del viewport
    padding:20px; 
    border: solid 5px red;
    background-color: green;
} 
*/

@media (min-width:570px){ /*Uso min-width porque estoy partiendo de una implementacion mobile first*/
    .contenedor01{
        width: 90%;
        border: solid 5px salmon;
        background-color: black;
        color:white;
    }
}

@media (min-width:900px){
    .contenedor01{
        color:red;
    }
    .oculto {
        display: block; /* para mostrar el parrafo oculto en este display */
    }
}